catboost==1.2.7
datasets==3.1.0
gradio==5.15.0
joblib==1.4.2
matplotlib==3.6.3
mlflow==2.19.0
mlflow_skinny==2.19.0
numpy==1.26.4
openai==1.61.1
pandas==2.2.3
pyspark==3.5.4
python-dotenv==1.0.1
scikit_learn==1.6.1
seaborn==0.13.2
tokenizers==0.21.0
torch==2.5.0
torchmetrics==1.6.0
tqdm==4.67.1
transformers==4.48.2
